.btn-facebook {
	background-color: #3b5998;
	color: white !important;
}

.btn-wechat {
	background-color: #7bb32e;
	color: white !important;
}

.btn-google {
	background-color: #d34836;
	color: white !important;
}